---
layout: default
title: Shop
highlight_nav: shop
---

{% pattern banners/banner-dark-card img="shop-1" h1="SHOP" h2="We sell a variety of honey flavours, body lotions / soaps, and beeswax candles." icon="honey-dipper" border-color="primary-dark" %}
<div class="edges pad-t-2 pad-b-2" id="main">
  {% pattern sections/shop-section-headers h3="Honey" icon="honeypot-main" id="honey" %}
  <div class="grid gutter-1-4 pad-t">
    {% for product in site.shop %}
      {% if product.category == "honey" %}
        <div class="unit [ xs-1 m-1-2 l-1-3 ] island-1-4">
          {% pattern cards/product-link data=product %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% pattern sections/shop-section-headers h3="Body" icon="body-main" id="body" %}
  <div class="grid gutter-1-4 pad-t">
    {% for product in site.shop %}
      {% if product.category == "body" %}
        <div class="unit [ xs-1 m-1-2 l-1-3 ] island-1-4">
          {% pattern cards/product-link data=product %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% pattern sections/shop-section-headers h3="Candles" icon="candle-main" id="candle" %}
  <div class="grid gutter-1-4 pad-t">
    {% for product in site.shop %}
      {% if product.category == "candle" %}
        <div class="unit [ xs-1 m-1-2 l-1-3 ] island-1-4">
          {% pattern cards/product-link data=product %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% pattern banners/banner-btns img="shop-2" icon="bee" border-color="primary-light" %}
