.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.scribble-bottom {
  z-index: 1000;
  top: -1.5rem;
  width: 100%;
}

.edges {
  margin-left: auto;
  margin-right: auto;
  max-width: 68em;
  width: 100%;
}
