.logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.scribble-top {
  z-index: 1000;
  bottom: -1rem;
  width: 100%;
}

.grid-bottom-align {
  padding-bottom: 1rem;
}

@media only screen and (min-width: 60em) {

  .logo {
    left: 30%;
  }

}
