.logo {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.scribble-top {
  z-index: 1000;
  bottom: -0.5rem;
  width: 100%;
}

.grid-bottom-align {
  padding-bottom: .5rem;
}

.search-space {
  padding-top: 1rem;
}

@media only screen and (min-width: 25em) {

  .edges {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

  .scribble-top {
    bottom: -1rem;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    left: 30%;
  }

  .scribble-top {
    bottom: -1.5rem;
  }

  .search-space {
    padding-top: 0;
  }

}
