.name {
  color: var(--color-primary-dark);
  }

.product-info {
  max-width: 90vw;
}

.brown-icon {
  color: var(--color-primary-dark);
}

.price {
  color: var(--color-primary);
}

.subscribe-content {
  max-width: 70%;
}

.product-name {
  text-align: center;
}

.form-credit-card {
  background-color: #c7c8ca;
}

@media only screen and (min-width: 25em) {

  .subscribe-words {
    padding-right: 5rem;
  }

  .subscribe-words ~ .email {
    padding-right: 5rem;
  }

}

.subscribe-words span {
  color: var(--color-primary-dark);
}

.para {
  padding-right: 5rem;
}

.subscribe-icon,
.para {
  display: none;
}

/* Background image and sizing */

.subscribe {
  background-image: url("../images/banners/subscribe.jpg");
  background-color: var(--color-primary-light);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  align-items: center;
  min-height: 45vh;
}

@media only screen and (min-width: 21em) {

  .subscribe {
    min-height: 50vh;
  }

}

@media only screen and (min-width: 32em) {

  .subscribe {
    min-height: 60vh;
  }

}

@media only screen and (min-width: 40em) {

  .subscribe {
    min-height: 65vh;
  }

  .icon,
  .para {
    display: block;
  }

  .email {
    padding-right: 10rem;
  }

}

@media only screen and (min-width: 60em) {

  .subscribe {
    min-height: 70vh;
  }

}

@media only screen and (min-width: 90em) {

  .subscribe {
    min-height: 80vh;
  }

}

@media only screen and (max-height: 32em) {

  .subscribe {
    min-height: 550px;
  }

}


/* View Cart */

.btn-space .btn {
  margin-bottom: .5rem;
  width: 100%;
}

.view-cart-sidebar {
  background-color: var(--color-primary-light);
  max-width: 200px;
  position: absolute;
  right: 0;
  z-index: 100000000;
}

.open-nav {
  display: none;
}

input.cart-open {
  width: 100px;
  height: 100px;
  z-index: 1000;
  cursor: pointer;
  transform: translateX(-100px);
}

[type="checkbox"].cart-open + label::before {
  position: absolute;
  top: -100em;
}

.cart-open:checked ~ .open-nav {
  display: block;
}

.cart-disappear {
  display: none;
}

.cart-label {
  cursor: pointer;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("../images/cart-view.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100px 200px;
  position: absolute;
  top: 0;
  right: 15px;
}

.cart-open:checked ~ .close-nav .cart-label {
  background-position: bottom;
}

.view-cart-sidebar {
  max-width: 500px;
}

.product-quantity {
  color: var(--color-primary-dark);
}

.cart-view-product {
  border-top: 1px solid var(--color-primary-dark);
}

.view-cart-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 90em) {

  input.cart-open,
  label.cart-label {
    display: none;
  }

  .close-nav {
    display: none;
  }

  .open-nav {
    display: block;
  }

  .cart-label {
    display: none;
  }

  .cart-disappear {
    display: block;
  }

}

/* Your Order */

.your-order {
  background-color: var(--color-primary-light);
  max-width: 500px;
  position: relative;
  left: 0;
}

.cart-product {
  border-bottom: 1px solid var(--color-primary-dark);
}

.cost-additional {
  color: var(--color-primary-dark);
}

.costs {
  display: flex;
  flex-direction: row;
}

/* Shop Sections */

.shop-section svg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.shop-section {
  text-align: center;
}
