/* product-link */

.product-card {
  width: 100%;
  max-width: 500px;
  transition: all .3s ease;
}

.icon-product {
  display: inline-block;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 30%;
}

.btn-div {
  display: none;
  position: absolute;
  bottom: 22.5%;
  left: 50%;
  transform: translateX(-50%);
}

.product-card:hover .icon-product {
  display: none;
}

.product-card:hover .btn-div {
  display: inline-block;
}

h4 {
  text-align: center;
  padding-top: 2rem;
}

/* cards */

.card-pad {
  padding: 2rem;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* card-dark */

.card-dark {
  width: 100%;
  max-width: 500px;
}

.card-dark-bg {
  width: 100%;
}

.card-dark-icon {
  position: absolute;
  top: 70%;
  left: 0;
  width: 30%;
}

.icon-float {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}

/* card-light */

.card-light {
  width: 100%;
  max-width: 500px;
}

.card-light-bg {
  width: 100%;
}

.card-light-icon {
  position: absolute;
  top: 70%;
  left: 70%;
  width: 30%;
}

/* card-w-btns */

.card-btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
