/* product-link */

.product-card {
  width: 100%;
  max-width: 500px;
}

.card-light-icon i,
.card-dark-icon i,
.product-card i {
  color: var(--color-black);
}

.icon-product {
  opacity: 1;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 30%;
  transition: all .3s ease;
}

.btn-div {
  opacity: 0;
  position: absolute;
  bottom: 22.5%;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s ease;
}

.product-card:hover .icon-product {
  opacity: 0;
}

.product-card:hover .btn-div {
  opacity: 1;
}

.product-name {
  text-align: center;
  padding-top: 2rem;
}

/* cards */

.card-pad {
  padding: 2rem;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* card-dark */

.card-dark {
  width: 100%;
  max-width: 500px;
}

.card-dark-bg {
  width: 100%;
}

.card-dark-icon {
  position: absolute;
  top: 70%;
  left: 0;
  width: 30%;
}

.icon-float {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}

/* card-light */

.card-light {
  width: 100%;
  max-width: 500px;
}

.card-light-bg {
  width: 100%;
}

.card-light-icon {
  position: absolute;
  top: 70%;
  left: 70%;
  width: 30%;
}

/* card-w-btns */

/* .card-btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

.card-btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}
