---
layout: default
---

{% pattern banners/banner-light-card img="/images/banners/product-1-honey.jpg" h1="SHOP" h2=page.category icon=page.category-icon border-color="primary-dark"  %}
{% pattern sections/cart-view icon="coffee" product-name="Honey with Coffee" product-quantity="2 x $8.99" product-name2="Honey with Orange" product-quantity2="1 x $8.99" icon2="orange" subtotal="$26.97" %}
<div class="edges pad-t-2 pad-b-2">
  {% pattern navigations/breadcrumbs shop-category=page.category product=page.name %}
  <div class="grid">
    <div class="unit xs-1 xl-3-4">
      {% pattern sections/product-info data=page %}
    </div>
  </div>
{% pattern sections/related %}
</div>
{% pattern sections/subscribe image="honey/honey-alfalfa.png" %}
